<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      @@include('modules/_header.html')
      <main class="main">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
              <a href="/">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <span>О компании</span>
            </li>
          </ul>
          <div class="main__content">
            <div class="main__title">
              <h1>О компании</h1>
            </div>

            <div class="banner-about">
              <figure class="banner-about__img">
                <picture>
                  <source
                    srcset="
                      img/content/banner-about.webp    1x,
                      img/content/banner-about@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <img
                    src="img/content/banner-about.png"
                    srcset="
                      img/content/banner-about.png    1x,
                      img/content/banner-about@2x.png 2x
                    "
                    alt="Поставляем пиломатериалы с 2001 года"
                  />
                </picture>
                <figcaption class="banner-about__caption">
                  Поставляем пиломатериалы <br />
                  с 2001 года
                </figcaption>
              </figure>
            </div>
            <div class="content content--about">
              <div class="container-narrow container-narrow--center">
                <p>
                  Торговый Дом «Балтия» занимается прямыми поставками и
                  розничными продажами высококачественной древисины и шпона, в
                  том числе экзотических пород. Предлагая продукцию по
                  привлекательным и доступным ценам, представляем огромный
                  ассортимент материалов, обеспечивающих работу мебельных
                  производств. Таких как МДФ, мебельных щитов, клеев, абразивов,
                  столярных плит и т.д.
                </p>
                <p>
                  Габариты складов позволяют хранить необходимые запасы, что
                  гарантирует наличие материалов для любого заказчика.
                </p>
                <p>
                  Мы убеждены в том, что только самое лучшее сырье межет стать
                  основой для получения желаемой конечной продукции. Из нашей
                  древисины изготавливают высокохудожественные произведения
                  столярного зодчества: инкрустированные предметы мебели,
                  настольные игры (шахматы, нарды), кии для бильярда.
                </p>
              </div>
              <div class="about-images">
                <picture>
                  <source
                    srcset="
                      img/content/about-img-1.webp    1x,
                      img/content/about-img-1@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <img
                    src="img/content/about-img-1.jpg"
                    srcset="
                      img/content/about-img-1.jpg    1x,
                      img/content/about-img-1@2x.jpg 2x
                    "
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="
                      img/content/about-img-2.webp    1x,
                      img/content/about-img-2@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <img
                    src="img/content/about-img-2.jpg"
                    srcset="
                      img/content/about-img-2.jpg    1x,
                      img/content/about-img-2@2x.jpg 2x
                    "
                    alt=""
                  />
                </picture>
              </div>
              <div class="container-narrow container-narrow--center">
                <h2>Большой ассортимент всегда в наличии</h2>
                <ul>
                  <li>
                    Огромный выбор МДФ: шпонированный (дуб, бук, орех, анегре,
                    сапеле, вишня), шлифованный, влагостойкий.
                  </li>
                  <li>
                    Щиты клееные (мебельные) и ступени: дуб, ясень, бук,
                    сосна,лиственница,ель.
                  </li>
                  <li>
                    Доска обрезная (сосна, дуб, бук, ясень, клён, ольха, липа,
                    вишня, орех, лиственница, берёза).
                  </li>
                  <li>Плита столярная (шлифованная, шпонированная),</li>
                  <li>Кромка, шпон строганный, клей и многое другое.</li>
                  <li>Палуба дуб, бук</li>
                </ul>
                <h2>Теплые сухие склады / Доставка + распил</h2>
                <ul>
                  <li>Вы приобретаете надежного партнера</li>
                  <li>Продукция высшего качества по лучшим ценам</li>
                  <li>Индивидуальный подход к каждому покупателю</li>
                  <li>Гибкая система скидок</li>
                </ul>
                <h2>Документы для скачивания</h2>
                <div class="download-docs">
                  <a href="#" class="download-doc">
                    <span class="download-doc__icon">
                      <svg width="27" height="33">
                        <use xlink:href="img/icons.svg#download"></use>
                      </svg>
                    </span>
                    <div class="download-doc__info">
                      <span>Образец договора</span>
                      <small>doc, 80,20 КБ</small>
                    </div>
                  </a>
                  <a href="#" class="download-doc">
                    <span class="download-doc__icon">
                      <svg width="27" height="33">
                        <use xlink:href="img/icons.svg#download"></use>
                      </svg>
                    </span>
                    <div class="download-doc__info">
                      <span>Реквизиты компании</span>
                      <small>doc, 80,20 КБ</small>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      @@include('modules/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
