<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      @@include('modules/_header.html')
      <main class="main">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
              <a href="/">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <span>Статьи</span>
            </li>
          </ul>
          <div class="main__content">
            <div class="main__title">
              <h1>Статьи</h1>
            </div>
            <div class="articles">
              <div class="articles__holder">
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-22.webp    1x,
                            img/content/article-preview-22@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-22.jpg"
                          srcset="
                            img/content/article-preview-22.jpg    1x,
                            img/content/article-preview-22@2x.jpg 2x
                          "
                          alt="Дубовый паркет"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">Дубовый паркет</h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-23.webp    1x,
                            img/content/article-preview-23@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-23.jpg"
                          srcset="
                            img/content/article-preview-23.jpg    1x,
                            img/content/article-preview-23@2x.jpg 2x
                          "
                          alt="Тетивы и косуоры для лестниц"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">
                      Тетивы и косуоры для лестниц
                    </h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-24.webp    1x,
                            img/content/article-preview-24@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-24.jpg"
                          srcset="
                            img/content/article-preview-24.jpg    1x,
                            img/content/article-preview-24@2x.jpg 2x
                          "
                          alt="Деревянный столбчатый фундамент из дуба"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">
                      Деревянный столбчатый фундамент из дуба
                    </h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-25.webp    1x,
                            img/content/article-preview-25@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-25.jpg"
                          srcset="
                            img/content/article-preview-25.jpg    1x,
                            img/content/article-preview-25@2x.jpg 2x
                          "
                          alt="Деревянный подоконник"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">Деревянный подоконник</h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-26.webp    1x,
                            img/content/article-preview-26@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-26.jpg"
                          srcset="
                            img/content/article-preview-26.jpg    1x,
                            img/content/article-preview-26@2x.jpg 2x
                          "
                          alt="Деревянная столешница для кухни"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">
                      Деревянная столешница для кухни
                    </h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-27.webp    1x,
                            img/content/article-preview-27@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-27.jpg"
                          srcset="
                            img/content/article-preview-27.jpg    1x,
                            img/content/article-preview-27@2x.jpg 2x
                          "
                          alt="Тигровое дерево в интерьере"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">Тигровое дерево в интерьере</h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-28.webp    1x,
                            img/content/article-preview-28@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-28.jpg"
                          srcset="
                            img/content/article-preview-28.jpg    1x,
                            img/content/article-preview-28@2x.jpg 2x
                          "
                          alt="Использование сибирской лиственницы в отделке лоджий и
                          балконов"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">
                      Использование сибирской лиственницы в отделке лоджий и
                      балконов
                    </h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-29.webp    1x,
                            img/content/article-preview-29@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-29.jpg"
                          srcset="
                            img/content/article-preview-29.jpg    1x,
                            img/content/article-preview-29@2x.jpg 2x
                          "
                          alt="Канадский кедр для отделки сауны"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">
                      Канадский кедр для отделки сауны
                    </h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
                <div class="articles__item">
                  <a href="">
                    <div class="articles__preview">
                      <picture>
                        <source
                          srcset="
                            img/content/article-preview-30.webp    1x,
                            img/content/article-preview-30@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <img
                          src="img/content/article-preview-30.jpg"
                          srcset="
                            img/content/article-preview-30.jpg    1x,
                            img/content/article-preview-30@2x.jpg 2x
                          "
                          alt="Волшебная сила палисандра"
                        />
                      </picture>
                    </div>
                    <div class="articles__date">12.02.2021</div>
                    <h3 class="articles__title">Волшебная сила палисандра</h3>
                    <span class="articles__more">Подробнее</span>
                  </a>
                </div>
              </div>
              <div class="articles__footer">
                <ul class="pagenav">
                  <li><a href="" class="pagenav__prev"></a></li>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                  <li><a href="" class="pagenav__next"></a></li>
                </ul>
                <button type="button" class="btn btn--outline">
                  Загрузить еще
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
      @@include('modules/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
