<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      @@include('modules/_header.html')
      <main class="main">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
              <a href="/">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <span>Каталог</span>
            </li>
          </ul>
          <div class="main__content">
            <h1>Контакты</h1>
            <div class="contacts">
              <div class="contacts__item">
                <div class="contacts__title">Телефон</div>
                <a href="tel:+78127190404">+7 (812) 719-04-04</a>
              </div>
              <div class="contacts__item">
                <div class="contacts__title">Адрес</div>
                <span
                  >195067, Санкт-Петербург,<br />Пискарёвский проспект, 125
                  Х</span
                >
              </div>
              <div class="contacts__item">
                <div class="contacts__title">E-mail</div>
                <a href="mailto:info@derevospb.ru">info@derevospb.ru</a>
              </div>
              <div class="contacts__item">
                <div class="contacts__title">Режим работы</div>
                <span>Пн – Пт с 9:00 до 18:00 <br />(без обеда)</span>
              </div>
              <div class="contacts__item">
                <a href="">
                  <svg width="40" height="40">
                    <use xlink:href="img/icons.svg#insta-black"></use>
                  </svg>
                </a>
              </div>
            </div>
            <h2>Схема проезда</h2>
            <div class="map">
              <div class="map__img">
                <div id="map" class="splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="splide__slide">
                        <picture>
                          <source
                            srcset="img/content/map-static-md.png"
                            media="(max-width: 640px)"
                          />
                          <img src="img/content/map-group-point-1.png" alt="" />
                        </picture>
                      </li>
                      <li class="splide__slide">
                        <picture>
                          <source
                            srcset="img/content/map-static-md.png"
                            media="(max-width: 640px)"
                          />
                          <img src="img/content/map-group-point-2.png" alt="" />
                        </picture>
                      </li>
                      <li class="splide__slide">
                        <picture>
                          <source
                            srcset="img/content/map-static-md.png"
                            media="(max-width: 640px)"
                          />
                          <img src="img/content/map-group-point-3.png" alt="" />
                        </picture>
                      </li>
                      <li class="splide__slide">
                        <picture>
                          <source
                            srcset="img/content/map-static-md.png"
                            media="(max-width: 640px)"
                          />
                          <img src="img/content/map-group-point-4.png" alt="" />
                        </picture>
                      </li>
                      <li class="splide__slide">
                        <picture>
                          <source
                            srcset="img/content/map-static-md.png"
                            media="(max-width: 640px)"
                          />
                          <img src="img/content/map-group-point-5.png" alt="" />
                        </picture>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="map__desc">
                <div id="map-nav" class="splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="splide__slide">
                        <img src="img/content/map-photo.png" alt="" />
                        <p>
                          За заправкой поворачиваете налево около указателя
                          «Балтия» и едете 200 метров до следующего указателя
                        </p>
                      </li>
                      <li class="splide__slide">
                        <img src="img/content/map-photo.png" alt="" />
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Ipsam molestias fugit pariatur rerum voluptatum
                          enim tenetur rem placeat odit modi earum excepturi,
                          accusantium in! Animi neque quam perspiciatis
                          architecto explicabo.
                        </p>
                      </li>
                      <li class="splide__slide">
                        <img src="img/content/map-photo.png" alt="" />
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Dolor, debitis.
                        </p>
                      </li>
                      <li class="splide__slide">
                        <img src="img/content/map-photo.png" alt="" />
                        <p>Lorem ipsum dolor sit amet.</p>
                      </li>
                      <li class="splide__slide">
                        <img src="img/content/map-photo.png" alt="" />
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Pariatur, eos, sunt ratione aperiam deleniti
                          nulla quas perferendis omnis, labore voluptatibus
                          facere saepe?
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h2>Обратная связь</h2>
            @@include('modules/_form-contacts.html')
          </div>
        </div>
      </main>
      @@include('modules/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
