<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/splide-core.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      @@include('modules/_header.html')
      <main class="main">
        @@include('modules/_banner.html')
        <div class="container">
          <div class="page-section">
            <div class="main__title main__title--link">
              <h2 class="h1">Каталог</h2>
              <a href="catalog-detail.html">Перейти в каталог</a>
            </div>
            <div id="slider-category" class="splide">
              <div class="splide__track">
                <div class="splide__list">
                  <div class="splide__slide">
                    <div class="category-box">
                      <a href="category-detail.html">
                        <div class="category-box__preview">
                          <picture>
                            <source
                              srcset="
                                img/content/category-pic-1.webp    1x,
                                img/content/category-pic-1@2x.webp 2x
                              "
                              type="image/webp"
                            />
                            <img
                              src="img/content/category-pic-1.png"
                              srcset="
                                img/content/category-pic-1.png    1x,
                                img/content/category-pic-1@2x.png 2x
                              "
                              alt="Пиломатериалы"
                            />
                          </picture>
                        </div>
                        <h3 class="category-box__title">Пиломатериалы</h3>
                      </a>
                    </div>
                  </div>
                  <div class="splide__slide">
                    <div class="category-box">
                      <a href="category-detail.html">
                        <div class="category-box__preview">
                          <picture>
                            <source
                              srcset="
                                img/content/category-pic-2.webp    1x,
                                img/content/category-pic-2@2x.webp 2x
                              "
                              type="image/webp"
                            />
                            <img
                              src="img/content/category-pic-2.png"
                              srcset="
                                img/content/category-pic-2.png    1x,
                                img/content/category-pic-2@2x.png 2x
                              "
                              alt="Плитные материалы"
                            />
                          </picture>
                        </div>
                        <h3 class="category-box__title">Плитные материалы</h3>
                      </a>
                    </div>
                  </div>
                  <div class="splide__slide">
                    <div class="category-box">
                      <a href="category-detail.html">
                        <div class="category-box__preview">
                          <picture>
                            <source
                              srcset="
                                img/content/category-pic-3.webp    1x,
                                img/content/category-pic-3@2x.webp 2x
                              "
                              type="image/webp"
                            />
                            <img
                              src="img/content/category-pic-3.png"
                              srcset="
                                img/content/category-pic-3.png    1x,
                                img/content/category-pic-3@2x.png 2x
                              "
                              alt="Мебельный щит"
                            />
                          </picture>
                        </div>
                        <h3 class="category-box__title">Мебельный щит</h3>
                      </a>
                    </div>
                  </div>
                  <div class="splide__slide">
                    <div class="category-box">
                      <a href="category-detail.html">
                        <div class="category-box__preview">
                          <picture>
                            <source
                              srcset="
                                img/content/category-pic-4.webp    1x,
                                img/content/category-pic-4@2x.webp 2x
                              "
                              type="image/webp"
                            />
                            <img
                              src="img/content/category-pic-4.png"
                              srcset="
                                img/content/category-pic-4.png    1x,
                                img/content/category-pic-4@2x.png 2x
                              "
                              alt="Шпон"
                            />
                          </picture>
                        </div>
                        <h3 class="category-box__title">Шпон</h3>
                      </a>
                    </div>
                  </div>
                  <div class="splide__slide">
                    <div class="category-box">
                      <a href="category-detail.html">
                        <div class="category-box__preview">
                          <picture>
                            <source
                              srcset="
                                img/content/category-pic-5.webp    1x,
                                img/content/category-pic-5@2x.webp 2x
                              "
                              type="image/webp"
                            />
                            <img
                              src="img/content/category-pic-5.png"
                              srcset="
                                img/content/category-pic-5.png    1x,
                                img/content/category-pic-5@2x.png 2x
                              "
                              alt="Сопутствующие товары"
                            />
                          </picture>
                        </div>
                        <h3 class="category-box__title">
                          Сопутствующие товары
                        </h3>
                      </a>
                    </div>
                  </div>
                  <div class="splide__slide">
                    <div class="category-box">
                      <a href="category-detail.html">
                        <div class="category-box__preview">
                          <picture>
                            <source
                              srcset="
                                img/content/category-pic-6.webp    1x,
                                img/content/category-pic-6@2x.webp 2x
                              "
                              type="image/webp"
                            />
                            <img
                              src="img/content/category-pic-6.png"
                              srcset="
                                img/content/category-pic-6.png    1x,
                                img/content/category-pic-6@2x.png 2x
                              "
                              alt="Экзотика"
                            />
                          </picture>
                        </div>
                        <h3 class="category-box__title">Экзотика</h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-section">
            <div class="main__title">
              <h2 class="h1">Новинки</h2>
            </div>
            <div class="slider-products-new">
              <div id="slider-products-new" class="splide">
                <div class="splide__track">
                  <div class="splide__list">
                    <div class="splide__slide">
                      @@include('modules/_product.html')
                    </div>
                    <div class="splide__slide">
                      @@include('modules/_product.html')
                    </div>
                    <div class="splide__slide">
                      @@include('modules/_product.html')
                    </div>
                    <div class="splide__slide">
                      @@include('modules/_product.html')
                    </div>
                    <div class="splide__slide">
                      @@include('modules/_product.html')
                    </div>
                    <div class="splide__slide">
                      @@include('modules/_product.html')
                    </div>
                    <div class="splide__slide">
                      @@include('modules/_product.html')
                    </div>
                  </div>
                </div>
              </div>
              <div class="align-center">
                <a
                  href="catalog-category.html"
                  class="btn btn--outline btn--wide"
                  >Все новинки</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="page-section bg-gray">
          <div class="container">
            <div class="advantage">
              <div class="advantage__item">
                <div class="advantage__icon">
                  <svg width="50" height="50">
                    <use xlink:href="img/icons.svg#icon-reserve"></use>
                  </svg>
                </div>
                <div class="advantage__title">Всегда в наличии</div>
                <div class="advantage__text">
                  Благодаря собственному складу вы можете получить продукцию в
                  день заказа
                </div>
              </div>
              <div class="advantage__item">
                <div class="advantage__icon">
                  <svg width="43" height="50">
                    <use xlink:href="img/icons.svg#icon-surface"></use>
                  </svg>
                </div>
                <div class="advantage__title">100% качество продукции</div>
                <div class="advantage__text">
                  Реализуемая продукция сертифицирована и соответствует всем
                  требованиям ГОСТ
                </div>
              </div>
              <div class="advantage__item">
                <div class="advantage__icon">
                  <svg width="50" height="50">
                    <use xlink:href="img/icons.svg#icon-star"></use>
                  </svg>
                </div>
                <div class="advantage__title">Индивидуальный подход</div>
                <div class="advantage__text">
                  Разработка системы снабжения по необходимым материалам в
                  расчете на ваши потребности
                </div>
              </div>
              <div class="advantage__item">
                <div class="advantage__icon">
                  <svg width="48" height="50">
                    <use xlink:href="img/icons.svg#icon-percent"></use>
                  </svg>
                </div>
                <div class="advantage__title">Гибкая система скидок</div>
                <div class="advantage__text">
                  Ценовая политика позволяет осуществлять взаимовыгоное
                  партнерство и экономить ваши средства
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          @@include('modules/_about-box.html')
          <div class="page-section">
            @@include('modules/_form-contacts.html')
          </div>
        </div>
      </main>
      @@include('modules/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
