<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>OptimizedHTML 5</title>
    <meta name="description" content="Startup HTML template OptimizedHTML 5" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="img/favicon.png" />
    <meta property="og:image" content="img/dest/preview.jpg" />
    <link rel="stylesheet" href="css/vendor/baguetteBox.css" />
    <link rel="stylesheet" href="css/app.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      @@include('modules/_header.html')
      <main class="main">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
              <a href="/">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <span>Фотогалерея</span>
            </li>
          </ul>
          <div class="main__content">
            <div class="main__title">
              <h1>Фотогалерея</h1>
            </div>

            <div class="tabs" data-tabs>
              <button>Склад на Пискаревском, 125 Ш</button>
              <button>Склад на Обводном, 134-136</button>
            </div>

            <div class="tabs-panes" data-panes>
              <div>
                <div class="photo-gallery">
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-6.webp    1x,
                            img/content/photo-6@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-6.jpg"
                            srcset="
                              img/content/photo-6.jpg    1x,
                              img/content/photo-6@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-8.webp    1x,
                            img/content/photo-8@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-8.jpg"
                            srcset="
                              img/content/photo-8.jpg    1x,
                              img/content/photo-8@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-7.webp    1x,
                            img/content/photo-7@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-7.jpg"
                            srcset="
                              img/content/photo-7.jpg    1x,
                              img/content/photo-7@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>

                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-10.webp    1x,
                            img/content/photo-10@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-10.jpg"
                            srcset="
                              img/content/photo-10.jpg    1x,
                              img/content/photo-10@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-9.webp    1x,
                            img/content/photo-9@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-9.jpg"
                            srcset="
                              img/content/photo-9.jpg    1x,
                              img/content/photo-9@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-11.webp    1x,
                            img/content/photo-11@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-11.jpg"
                            srcset="
                              img/content/photo-11.jpg    1x,
                              img/content/photo-11@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-12.webp    1x,
                            img/content/photo-12@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-12.jpg"
                            srcset="
                              img/content/photo-12.jpg    1x,
                              img/content/photo-12@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>

                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-14.webp    1x,
                            img/content/photo-14@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-14.jpg"
                            srcset="
                              img/content/photo-14.jpg    1x,
                              img/content/photo-14@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-13.webp    1x,
                            img/content/photo-13@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-13.jpg"
                            srcset="
                              img/content/photo-13.jpg    1x,
                              img/content/photo-13@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>

                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-16.webp    1x,
                            img/content/photo-16@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-16.jpg"
                            srcset="
                              img/content/photo-16.jpg    1x,
                              img/content/photo-16@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-15.webp    1x,
                            img/content/photo-15@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-15.jpg"
                            srcset="
                              img/content/photo-15.jpg    1x,
                              img/content/photo-15@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-17.webp    1x,
                            img/content/photo-17@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-17.jpg"
                            srcset="
                              img/content/photo-17.jpg    1x,
                              img/content/photo-17@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-18.webp    1x,
                            img/content/photo-18@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-18.jpg"
                            srcset="
                              img/content/photo-18.jpg    1x,
                              img/content/photo-18@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>

                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-20.webp    1x,
                            img/content/photo-20@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-20.jpg"
                            srcset="
                              img/content/photo-20.jpg    1x,
                              img/content/photo-20@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-19.webp    1x,
                            img/content/photo-19@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-19.jpg"
                            srcset="
                              img/content/photo-19.jpg    1x,
                              img/content/photo-19@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                </div>
              </div>
              <div>
                <div class="photo-gallery">
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-12.webp    1x,
                            img/content/photo-12@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-12.jpg"
                            srcset="
                              img/content/photo-12.jpg    1x,
                              img/content/photo-12@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>

                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-14.webp    1x,
                            img/content/photo-14@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-14.jpg"
                            srcset="
                              img/content/photo-14.jpg    1x,
                              img/content/photo-14@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-13.webp    1x,
                            img/content/photo-13@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-13.jpg"
                            srcset="
                              img/content/photo-13.jpg    1x,
                              img/content/photo-13@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>

                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-16.webp    1x,
                            img/content/photo-16@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-16.jpg"
                            srcset="
                              img/content/photo-16.jpg    1x,
                              img/content/photo-16@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-15.webp    1x,
                            img/content/photo-15@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-15.jpg"
                            srcset="
                              img/content/photo-15.jpg    1x,
                              img/content/photo-15@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-17.webp    1x,
                            img/content/photo-17@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-17.jpg"
                            srcset="
                              img/content/photo-17.jpg    1x,
                              img/content/photo-17@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-18.webp    1x,
                            img/content/photo-18@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-18.jpg"
                            srcset="
                              img/content/photo-18.jpg    1x,
                              img/content/photo-18@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>

                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-20.webp    1x,
                            img/content/photo-20@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-20.jpg"
                            srcset="
                              img/content/photo-20.jpg    1x,
                              img/content/photo-20@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                  <div class="photo-gallery__item">
                    <figure class="photo-gallery__img">
                      <picture>
                        <source
                          srcset="
                            img/content/photo-19.webp    1x,
                            img/content/photo-19@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <a
                          href="https://st.depositphotos.com/1760224/3660/i/950/depositphotos_36606389-stock-photo-sport-success-on-sunset-background.jpg"
                        >
                          <img
                            src="img/content/photo-19.jpg"
                            srcset="
                              img/content/photo-19.jpg    1x,
                              img/content/photo-19@2x.jpg 2x
                            "
                            alt=""
                        /></a>
                      </picture>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      @@include('modules/_footer.html')
    </div>
    <script src="js/vendor/baguetteBox.min.js"></script>
    <script src="js/main.min.js"></script>
    <script>
      window.addEventListener('load', function () {
        baguetteBox.run('.photo-gallery', { async: true });
      });
    </script>
  </body>
</html>
