.text-red {
  color: var(--color-red);
}
.text-green {
  color: var(--color-green);
}
.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-gray {
  background-color: #f9f8f8;
}
