$line-height: 1.375em !default;
$outside-size: 18px !default;
$inside-size: 10px !default;

.field-radio {
  $block-name: &;

  display: flex;
  margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {
    & + & {
      margin-top: 15px;
    }
  }

  &__name {
    // flex: 1;
    position: relative;
    display: inline-block;
    padding-left: $outside-size + 10px;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: 1.2;

    &:hover & {
      &-text {
        &::before {
          border-color: var(--color-dark);
        }
      }
    }
    &:hover {
      cursor: pointer;
      input:checked ~ :before {
        border-color: var(--color-gray);
      }
    }
  }

  &__name-text {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $outside-size;
      height: $outside-size;
      border-radius: 50%;
      border: 1px solid var(--color-gray);
      background-color: $white;
    }

    // @at-root input:checked ~ &:before {
    // }

    @at-root input:checked ~ &:after {
      content: '';
      position: absolute;
      top: ($outside-size - $inside-size) / 2;
      left: ($outside-size - $inside-size) / 2;
      width: $inside-size;
      height: $inside-size;
      border-radius: 50%;
      background: var(--color-main);
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }

  &__info {
    flex: 1;
    font-size: 1em;
    color: $gray;
    padding-left: 39px;
  }

  &--md-inline {
    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;

      #{$block-name}__input-wrap {
        margin-right: 20px;
      }

      #{$block-name}__input-wrap + #{$block-name}__input-wrap {
        margin-top: 0;
      }
    }
  }

  &--mb30 {
    margin-bottom: 30px;
  }
}

$color-danger: hsl(2, 64%, 58%) !default;

.field-radio {
  $block-name: &;

  &__input-wrap--error {
    #{$block-name}__name-text,
    #{$block-name}__help-text {
      color: $color-danger;
    }
  }
}
