.about-block {
  padding-bottom: 70px;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text {
    color: #4b4b4b;
    margin-bottom: 30px;

    @include lg {
      flex-basis: 495px;
      margin-bottom: 0;
    }
    @include xl {
      flex-basis: 580px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__img {
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include md {
      // height: 300px;
    }
    @include lg {
      height: 485px;
      flex-basis: 410px;
    }
    @include xl {
      flex-basis: 560px;
      height: 665px;
    }
  }
}
