.product {
  position: relative;

  &__badges {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__preview {
    margin-bottom: 20px;
  }

  &__name {
    font-size: var(--fs-medium);
    font-weight: $font-semibold;
    line-height: 1.1;
    margin-bottom: 12px;
  }

  &__spec {
    font-size: var(--fs-base);
    font-weight: $font-medium;
    margin-bottom: 30px;

    li {
      line-height: 1;
      margin-bottom: 8px;

      > span {
        font-size: var(--fs-base);
        font-weight: $font-medium;
        color: var(--color-dark);
        opacity: 0.5;
      }
    }
  }

  &__fullsize {
    color: rgba($color: #222, $alpha: 0.7);
  }

  &__price {
    font-size: 20px;
    font-weight: $font-bold;
    line-height: 1;
    margin-bottom: 20px;
    padding-top: 6px;

    > span {
      display: none;
    }

    &--sale {
      .price {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse;
        font-size: var(--fs-medium);
        @include md {
          font-size: 20px;
        }
        @include xl {
          flex-direction: row;
        }
        span,
        s {
          white-space: nowrap;
        }
        span {
          color: var(--color-red);
          @include lg-max {
            padding-bottom: 6px;
          }
        }
        s {
          color: var(--color-dark);
          margin-right: 12px;
        }
      }
    }
  }

  &__depth,
  &__size {
    @include sm-max {
      display: none;
    }
  }

  &__length,
  &__width {
    display: none;
  }

  &__length,
  &__width,
  &__fullsize {
    @include md {
      display: none;
    }
  }

  .btn {
    width: 100%;
  }
}
