.product {
  position: relative;

  &__badges {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__preview {
    margin-bottom: 20px;
  }

  &__name {
    font-size: var(--fs-medium);
    font-weight: $font-semibold;
    line-height: 1.1;
    margin-bottom: 12px;
  }

  &__spec {
    font-size: var(--fs-base);
    font-weight: $font-medium;
    margin-bottom: 30px;

    span {
      font-size: var(--fs-base);
      font-weight: $font-medium;
      color: var(--color-dark);
      opacity: 0.5;
    }
    li {
      line-height: 1;
      margin-bottom: 8px;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: $font-bold;
    line-height: 1;
    margin-bottom: 20px;
    padding-top: 6px;

    span {
      display: none;
    }

    &--sale {
      color: var(--color-red);
      font-size: var(--fs-medium);

      s {
        display: block;
        color: var(--color-dark);
        font-size: var(--fs-base);

        @include sm-max {
          display: none;
        }
      }
    }
  }

  .btn {
    width: 100%;
  }
}
