.splide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__arrows {
    order: 2;
    text-align: center;
    line-height: 1;
    margin-top: 40px;
    svg {
      stroke: var(--color-dark);
    }
    span {
      letter-spacing: 0.175em;
      text-align: center;
    }
  }
  &__arrow {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: none;
    &--prev {
      transform: rotate(180deg);
    }
  }
  &__track {
    order: 1;
  }

  &__pagination {
    order: 3;
  }
  &__pagination {
    padding: 15px 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    li {
      display: inline-flex;
      align-items: center;
      padding: 5px;
    }

    &__page {
      background-color: transparent;
      width: 8px;
      height: 8px;
      border: 1px solid rgba($color: #000000, $alpha: 0.4);
      border-radius: 8px;
      margin: 0;
      padding: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &.is-active {
        background-color: var(--color-dark);
      }
    }
  }
}
