<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__info">
        <div class="footer__contacts">
          <div class="footer__title">Контакты</div>
          <ul>
            <li>
              С -Пб, Пискарёвский <br />
              проспект, 125 Х
            </li>
            <li><a href="tel:+78127190404">+7 (812) 719-04-04</a></li>
          </ul>
        </div>
        <div class="footer__works">
          <div class="footer__title">Режим работы</div>
          <ul>
            <li>Пн-Пт 9:00 - 18:00</li>
          </ul>
        </div>
        <div class="footer__social social">
          <a href="">
            <svg width="40" height="40">
              <use xlink:href="img/icons.svg#insta-white"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__nav footer__nav--about">
        <span class="footer__title">О нас</span>
        <ul>
          <li><a href="about.html">О компании</a></li>
          <li><a href="photo-gallery.html">Фотогалерея</a></li>
          <li><a href="sert.html">Сертификаты</a></li>
        </ul>
      </div>
      <div class="footer__nav footer__nav--catalog">
        <span class="footer__title">Каталог</span>
        <ul>
          <li><a href="stores.html">Пиломатериалы</a></li>
          <li><a href="specifications.html">Плитные материалы</a></li>
          <li>
            <a href="instructions.html">Мебельный щит</a>
          </li>
          <li><a href="mounting.html">Шпон</a></li>
          <li><a href="faq.html">Сопутствующие товары</a></li>
          <li><a href="guarantee.html">Экзотика</a></li>
        </ul>
      </div>
      <div class="footer__nav footer__nav--info">
        <span class="footer__title">Информация</span>
        <ul>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Статьи</a></li>
          <li><a href="#">Скачать прайс лист</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <a href="">Политика конфеденциальности</a>
      <div class="footer__copy">
        <a href="">2001–2021 Торговый дом «Балтия» ©</a>
        <a href="">ООО «Терра Вуд»</a>
      </div>
    </div>
  </div>
</footer>
<div class="overlay"></div>
<script src="js/vendor/tabbis.min.js"></script>
<script src="js/vendor/splide.min.js"></script>
