<div class="contacts-form">
  <form action="">
    <div class="contacts-form__cols">
      <div class="contacts-form__col">
        <label class="field-text field-text--error">
          <span class="field-text__input-wrap">
            <span class="field-text__help-text"
              >Поле обязательно для заполнения</span
            >
            <input
              class="field-text__input"
              type="text"
              placeholder="Введите ваше имя*"
            />
          </span>
        </label>
        <label class="field-text">
          <span class="field-text__input-wrap">
            <span class="field-text__help-text"
              >Поле обязательно для заполнения</span
            >
            <input
              class="field-text__input"
              type="email"
              placeholder="Введите ваш e-mail*"
            />
          </span>
        </label>
        <label class="field-text">
          <span class="field-text__input-wrap">
            <input
              class="field-text__input"
              type="text"
              placeholder="Введите ваш телефон"
            />
          </span>
        </label>
      </div>
      <div class="contacts-form__col">
        <label class="field-text">
          <span class="field-text__input-wrap">
            <textarea
              class="field-text__input"
              name=""
              placeholder="Введите ваше сообщение"
            ></textarea>
          </span>
        </label>
      </div>
    </div>
    <div class="contacts-form__send">
      <button type="submit" class="btn">Отправить</button>
      <div class="field-checkbox">
        <label class="field-checkbox__name">
          <input
            class="field-checkbox__input"
            type="checkbox"
            value=""
            name="compare"
            checked
          />
          <span class="field-checkbox__name-text">
            Отправляя форму, вы даете согласие на обработку
            <a href="">персональных данных</a> и принимаете
            <a href="">политику конфиденциальности</a>
          </span>
        </label>
      </div>
    </div>
  </form>
</div>
