<div class="product">
  <div class="product__badges">
    <div class="badges">
      <span class="badge badge--new">NEW</span>
    </div>
  </div>
  <div class="product__preview">
    <picture>
      <source
        srcset="
          img/content/product-preview.webp    1x,
          img/content/product-preview@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          img/content/product-preview.jpg    1x,
          img/content/product-preview@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img src="img/content/product-preview.jpg" alt="Кастамону. 1–сторонний" />
    </picture>
  </div>
  <div class="product__info">
    <div class="product__name">Кастамону. 1–сторонний</div>
    <ul class="product__spec">
      <li class="product__length"><span>Длина:</span> 2 800 мм</li>
      <li class="product__width"><span>Ширина:</span> 2 070 мм</li>
      <li class="product__depth"><span>Толщина:</span> 10 мм</li>
      <li class="product__size"><span>Размер:</span>2 800 х 2 070 мм</li>
      <li class="product__fullsize">2 800 х 2 070 x 10 мм</li>
      <li class="product__price">
        <span>Стоимость:</span>
        <div class="price">
          <span>2 030 ₽/шт</span>
        </div>
      </li>
    </ul>
  </div>
  <a href="product-detail.html" class="btn">Заказать</a>
</div>
